<!--===================Menu de navegacion  https://fontawesome.com/icons/droplet?f=classic&s=solid=================-->
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <div class="div_img">
                    <a href="#">
                        <span class="icon"> 
                            <!--<img src="img/logo.jpg" alt="">-->
                        </span>
                        <p class="titulo_Muni"> MUNICIPALIDAD DISTRITAL <br> 
                            QUINUA  </p>
                                                    
                    </a>
                </div>
                
            </li>

            <li>
                <a href="#">
                    <span class="icon"> 
                        <fa-icon [icon]="faFile"></fa-icon>
                        <!-- <ion-icon name="people-outline"></ion-icon> -->
                    </span>
                    <span class="title">Recibos</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                      <!--  <ion-icon name="mail-outline"></ion-icon> --->
                      <fa-icon [icon]="faPerson"></fa-icon>
                    </span>
                    <span class="title">Usuarios</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon"> 
                      <!--  <ion-icon name="help-circle-outline"></ion-icon> --->
                      <fa-icon [icon]="faCircleQuestion"></fa-icon>
                    </span>
                    <span class="title">Ayuda</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                      <!--  <ion-icon name="settings-outline"></ion-icon> -->
                      <fa-icon [icon]="faGear"></fa-icon>
                    </span>
                    <span class="title">Configuracion</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon"> 
                      <!--  <ion-icon name="water-outline"></ion-icon> -->
                      <fa-icon [icon]="faDroplet"></fa-icon>
                    </span>
                    <span class="title">servicio de agua </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="topbar">
        <div class="toggle">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
        
        <div class="search">
            <label >
                <input type="text" placeholder="Search here">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
               <!--<ion-icon name="search-outline"></ion-icon>--> 
            </label>
            
        </div>
        <div class="user">
            <!--<img src="img/logo.jpg" alt="#">-->
        </div>
    </div>


</div>