<div class="contenedorBuscador">
    <h2>Busqueda de Usuario</h2>
    <div class="contenedorBuscador-label">
        <div class="select">
            <select name="format" id="format">
            <option value="txt">Cod_suministro</option>
            <option value="txt">Apellidos Nombres</option>
            <option value="txt">DNI</option>
            <option value="txt">Direccion</option>
            </select>
        </div>
        <div class="label_text">
            <label for="name"> Ingrese Datos : </label>
            <input type="text" name="name" id="name" placeholder="Ingrese Inforacion">
        </div>
    </div>
</div>
<div class="table_responsive">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cod_Usuario</th>
                <th>DNI</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>005687</td>
                <td>28242527</td>
                <td>Huaraca Sanchez</td>
                <td>Carmina</td>
                <td>
                    <span class="action_btn">
                        <a href="#">Recibo</a>
                    
                        <a href="#">Deudas</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>004731</td>
                <td>52456985</td>
                <td>Morales Tapia</td>
                <td>jhon Evan</td>
                <td>
                    <span class="action_btn">
                        <a href="#">Recibo</a>
                    
                        <a href="#">Deudas</a>
                    </span>
                </td>
            </tr>
            <tr>
                <td>03</td>
                <td>012531</td>
                <td>70426985</td>
                <td>Lagos Carhuaricra</td>
                <td>Lucio Esteban</td>
                <td>
                    <span class="action_btn">
                        <a href="#">Recibo</a>
                    
                        <a href="#">Deudas</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
