<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1.504</div>
            <div class="cardName">Cantidad de Usuarios</div>
        </div>
        <div class="iconBx">
            <fa-icon [icon]="faUsers"></fa-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">5</div>
            <div class="cardName">pagos Hoy</div>
        </div>
        <div class="iconBx">
            <fa-icon [icon]="faCalendar"></fa-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">s/ 80</div>
            <div class="cardName">ingreso este mes</div>
        </div>
        <div class="iconBx">
            <fa-icon [icon]="faCoins"></fa-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">s/ 1 250</div>
            <div class="cardName">Deuda del mes</div>
        </div>
        <div class="iconBx">
            <fa-icon [icon]="faMoneyBill"></fa-icon>
        </div>
    </div>
    


    <!-- siguiente Orden-->
    <app-persona></app-persona>

</div>
