/*============googleFonts============*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap');
/*======Stylos globales=====*/
*{
    font-family: "Ubuntu","sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*====agregando colores a los variables====*/
:root{
    --bluee:#1C2755;
    --while:#ffff;
    --gray:#f5f5f5;
    --black1:#222;
    --black2:#999;
}

body{
    min-height: 100vh;
    overflow: hidden;
}

.contenedor{
    position: relative;
    width: 100%;

}




/*====================Main ================*/

/*=================Cards===============*/
